.galleryItems {
  margin: 0 auto;
  display: inline-block;
}
.galleryItem {
  background: url("../Images/gallery item BG.png");
  display: inline-block;
  width: 280px;
  height: 206px;
  padding: 10px;
  overflow: hidden;
  margin: 0 5px;
}
