/* PAGE */
body {
    background: url(Images/adminbg.jpg);
    margin: 0px 30px;
    font: 15px/1.25 "Helvetica Neue",Helvetica,Arial;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
    header h2 {
        margin-bottom: 1px;
    }

    header .userinfo {
        
    }
        header .userinfo span {
            display:block;
        }

         header {
        display: inline-block;
        width: 100%;
    }

    ul, li {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 21px;
        text-align: left;
    }

#loadingLayer {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(87, 87, 87, 0.45);
    border-radius: 12px;
    border-top-left-radius: 0px;
}
.loadingText {
    top: 50%;
    position: relative;
    font-family: cursive;
    font-size: 24px;
    text-shadow: 2px 2px rgb(133, 159, 189);
    color: rgb(57, 122, 64);
}

/* TABLE */

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
  /*min-width: 150px;*/
}

.table thead th {
  vertical-align: bottom;
}

.table td:hover {
    cursor: pointer;
}
/*.table td input[type="submit"],
.table td a {
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}*/
.table td input[type="submit"] {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: -webkit-link;
    line-height: 20px;
}
    .table td input[type="submit"]:hover,
    .table td a:hover {
        text-decoration: underline;
    }

.edit {
    display: none;
    background-color: rgba(255, 255, 255, 0.69);
}



/* HEADER */
.userinfo span {
    margin-right: 15px;

}


/* MENU */
    .menu {
        display: block;
        clear: both;
        margin-top: 20px;
        float: left;
        list-style: none;
        width: 940px;
        /*margin: 30px auto 0px auto;*/
        height: 43px;
        padding: 0px 20px 0px 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #014464;
        background: -moz-linear-gradient(top, #0272a7, #013953);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
        border: 1px solid #002232;
        -moz-box-shadow: inset 0px 0px 1px #edf9ff;
        -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
        box-shadow: inset 0px 0px 1px #edf9ff;
    }

    .menuTopItem {
        float: left;
        display: block;
        text-align: center;
        position: relative;
        padding: 4px 10px 4px 10px;
        margin-right: 30px;
        margin-top: 7px;
        border: none;
        color: #EEEEEE;
        text-shadow: 1px 1px 1px #000;
    }

        .menuTopItem:hover {
            border: 1px solid #777777;
            padding: 4px 9px 4px 9px;
            background: #F4F4F4;
            background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
            color: #161616;
            text-shadow: 1px 1px 1px #ffffff;
        }

        .menuTopItem .menuBottomItems {
            margin: 4px auto;
            text-align: left;
            white-space: nowrap;
            position: absolute;
            left: -999em;
            padding: 10px 5px 10px 7px;
            border: 1px solid #777777;
            border-top: none;
            background: #F4F4F4;
            background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
            -moz-border-radius: 0px 5px 5px 5px;
            -webkit-border-radius: 0px 5px 5px 5px;
            border-radius: 0px 5px 5px 5px;
        }

        .menuTopItem:hover .menuBottomItems {
            left: -1px;
            top: auto;
        }

            .menuTopItem:hover .menuBottomItems a {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: #015b86;
                display: block;
                outline: 0;
                text-decoration: none;
                text-shadow: 1px 1px 1px #ffffff;
            }

                .menuTopItem:hover .menuBottomItems a:hover {
                    color: #029feb;
                }
        .menuTopItem .menuDrop {
            font-size: 16px;
            padding-right: 21px;
            background: url(/Areas/Admin/Content/Images/drop.png) no-repeat right 9px;
        }





/* TABLE sorter */
.tablesorter {
    padding: 10px;
}

/* Users */
input[type="text"], input[type="date"] {
    width: 98%;
}