/* Add new site page */
.addNewPage ol {
    display: table;
    padding-left:0;
}
    .addNewPage ol li {
        display: table-row;
    }
        .addNewPage ol label,
        .addNewPage ol li input {
            display: table-cell;
        }
        .addNewPage ol label {
            padding-right: 10px;
        }
/* Table sorter */
.tablesorter-bootstrap tr td div {
    overflow: hidden;
    max-height: 20px;
}
.tablesorter td:nth-child(10) div {
    max-width: 130px;
    width: 130px;
}
.tablesorter td:nth-child(2) div,
.tablesorter td:nth-child(3) div,
.tablesorter td:nth-child(4) div,
.tablesorter td:nth-child(5) div,
.tablesorter td:nth-child(6) div {
    max-width: 200px;
}