@model Dictionary<int, string>

@for (int i = 0; i < Model.Count; i++)
{
    var item = Model.ElementAt(i);
    if (!string.IsNullOrEmpty(item.Value))
    { 

    <li class="menuTopItem">
        <div class="menuDrop">@Html.ActionLink(item.Value, "Index", "Pages", new { id = item.Key }, null)</div>
    </li>
    }
}
