@model TaskTimer.Models.GoogleDocumentModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>List of Google documents:</h3>
<b class="errorMsg">@ViewBag.errorMsg</b>
<ol class="round">
    @if (Model == null)
    {
        <b>No documents in current API Access</b>
    }
    else
    {
        <ul>
            @foreach (var item in Model.Documents)
            {
                <li>@Html.ActionLink(item.Title.Text, "Document", new { docName = item.Title.Text })</li>
            }
        </ul>
    }
</ol>
