html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: url(Images/header-bg.jpg) repeat-x top;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

header {
}

    header .headerBG {
        height: 270px;
        width: 1024px;
        background: url(Images/headerBG.png) no-repeat;
        margin: 23px auto 0 auto;
    }

ul.menu {
    list-style: none;
    margin: 0 auto;
    width: 1024px;
    height: 30px;
    padding: 0;
    font-size: 0.8em;
}

    ul.menu li {
        display: inline-block;
        padding: 0;
        padding-right: 43px;
    }

        ul.menu li:first-child {
            padding-right: 0px;
        }

        ul.menu li a {
            padding-right: 10px;
            color: black;
            text-decoration: underline;
            font-family: sans-serif;
            font-size: 1.5em;
        }

        ul.menu li.selectedMenu a {
            text-decoration: none;
        }


        ul.menu li.menuTopItem div.menuDrop a:hover, ul.menu li.menuTopItem div.menuDrop a:active {
            color: #847959;
            text-decoration: underline;
        }


#body {
    width: 1024px;
    margin: 0 auto;
}

footer {
    width: 1024px;
    margin: 0 auto;
}

    footer .line {
        border: 1px solid black;
        width: 1024px;
        margin: 0 auto;
    }

    footer .floatRight {
        margin: 3px 0 0 0;
        display: inline;
        float: right;
        font-size: 14px;
    }

    footer .footerMenuDiv {
    }

    footer .floatLeft {
        margin: 3px 0 0 0;
        display: inline;
        float: left;
        font-size: 14px;
    }

ul.footerMenu {
    list-style: none;
    margin: 0 auto;
    width: 585px;
    height: 30px;
    padding: 0;
}

    ul.footerMenu li {
        display: inline-block;
        padding: 0;
        padding-right: 20px;
    }

        ul.footerMenu li:first-child {
            padding-right: 0px;
        }

        ul.footerMenu li a {
            font-size: 14px;
            color: black;
            text-decoration: underline;
            font-family: sans-serif;
        }

        ul.footerMenu li.selectedMenu a {
            text-decoration: none;
        }



#body .middleSlider {
    margin: 0 auto;
    direction: ltr;
    width: 710px;
}

    #body .middleSlider li {
        position: relative;
    }

        #body .middleSlider li .sliderTextDiv {
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            direction: rtl;
            text-align: right;
            margin-top: 28px;
            margin-right: 33px;
            color: white;
        }

            #body .middleSlider li .sliderTextDiv .sliderTitle {
                font-size: 44px;
                line-height: 35px;
            }

            #body .middleSlider li .sliderTextDiv .sliderText {
            }

            #body .middleSlider li .sliderTextDiv .sliderLink a {
                color: white;
            }
#body .bottomPharagraps {
    max-width: 800px;
    display: inline-block;
}

#body .pharagraph {
    float: right;
    width: 400px;
    margin-bottom: 38px;
}

#body .bottomPharagraps .pharagraphImage {
    width: 85px;
    height: 85px;
    background-image: url(Images/pharagraphImg.png);
    float: right;
    margin-left: 13px;
}

#body .bottomPharagraps .pharagraphTitle {
    width: 300px;
    font-size: 22px;
    font-weight: bold;
    float: right;
}

#body .bottomPharagraps .pharagraphText {
    width: 300px;
    overflow: hidden;
    float: right;
}

#body .bottomTicket {
    display: inline-block;
    vertical-align: top;
}
#body .bottomTicket .bottomTicketTitle {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}
#body .bottomTicket .bottomTicketLink {
}
#body .bottomTicket .bottomTickets {
    font-size: 12px;
}
#body .bottomTicket .bottomTickets .bottomTicketItem{
    margin-bottom: 10px;
}

    #body .bottomTicket .bottomTickets .ticketTitle {
    }

    #body .bottomTicket .bottomTickets .ticketText {
        max-width: 200px;
    }

    #body .bottomTicket .bottomTickets .ticketLink {
    }
